%section.intro
  .row
    .small-12.medium-6.small-centered.columns.text-center
      = image_tag('logo.png', class: 'logo')
      %h2 We have an issue
      %p There are so many problems today that need funding but not enough people willing to donate.
%section.prezi
  .row
    .small-12.medium-10.small-centered.columns
      .flex-video
        <iframe src="//www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>