%section.intro
  .row
    .small-12.medium-6.small-centered.columns.text-center
      = image_tag('logo.png', class: 'logo')
      %h2 We have an issue
      %p There are many problems in the world that need funding, but not enough people are willing to donate. The solution is in your hands.
      %a.button.round HOW ARE WE SOLVING THIS?
%section.prezi
  .row
    .small-12.medium-10.small-centered.columns
      .flex-video
        <iframe src="http://prezi.com/embed/i-gfdibtiooa/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;token=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe>
