/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
 
 // Foundation
 @import "foundation_and_overrides";


.intro {
  background: url(header-bg.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 8rem 0;
  min-height: 552px;
  h2, h3, h4, h5 {
    font-weight: bold;
    color: $secondary-color;
  }
  p {
    color: $secondary-color;
  }
  .logo {
    margin-bottom: 1rem;
  }
}

.prezi {
  background: url(icon-bg.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $secondary-color;
  padding: 4rem 0;
  .flex-video {
    margin: 0;
  }
}